/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*$color0: #0e0e12;
$color1: #1A1A24;
$color2: #232331;
$color3: #1f1f2c;
$color4: #474763;
$color5: #535373;
$color6: #9C9CAF;
$color7: #E6E6EC;*/
#blazor-error-ui {
  bottom: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #434c5e;
  color: #2e3440;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.blazor-error-boundary {
  padding: 1rem 1rem 1rem 3.7rem;
}

.blazor-error-boundary::after {
  content: "An error has occurred.";
}

html {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
  font-family: "Montserrat", sans-serif;
  background-color: #2e3440;
  color: #eceff4;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading > span {
  font-size: 10em;
  color: #d8dee9;
  animation: loading 1s linear infinite;
}

a {
  color: #C0C5CE;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.panel-side {
  max-height: 90vh;
}
.panel-side-center {
  overflow-y: hidden;
}

.holder {
  flex-grow: 1;
  font-size: 1em;
  display: flex;
  gap: 0.5vmax;
  flex-direction: column;
}

@media (min-width: 768px) {
  .holder {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". center" ". center";
  }
}
@media (min-width: 992px) {
  .holder {
    grid-template-rows: 1fr;
    grid-template-columns: 20% 1fr 20%;
    grid-template-areas: ". center .";
  }
}
@media (min-width: 1400px) {
  .holder {
    grid-template-columns: 1fr 45vw 1fr;
  }
}
.panel {
  display: flex;
  flex-direction: column;
}
.panel-center {
  width: auto;
  max-width: 90vw;
  grid-area: center;
  aspect-ratio: 1;
}
.panel-side {
  gap: 1em;
}
.panel-side-center {
  flex-grow: 1;
}

button {
  background-color: transparent;
  border: none;
  color: #C0C5CE;
}
button:hover {
  background: #eceff4;
  color: #2e3440;
}

.board {
  display: grid;
  gap: 0.5em;
  padding: 0.5em;
  aspect-ratio: 1;
}

.board-1 {
  grid-template-columns: repeat(1, 1fr);
}

.board-2 {
  grid-template-columns: repeat(2, 1fr);
}

.board-3 {
  grid-template-columns: repeat(3, 1fr);
}

.board-4 {
  grid-template-columns: repeat(4, 1fr);
}

.board-5 {
  grid-template-columns: repeat(5, 1fr);
}

.board-6 {
  grid-template-columns: repeat(6, 1fr);
}

.board-7 {
  grid-template-columns: repeat(7, 1fr);
}

.board-8 {
  grid-template-columns: repeat(8, 1fr);
}

.board-9 {
  grid-template-columns: repeat(9, 1fr);
}

.board-10 {
  grid-template-columns: repeat(10, 1fr);
}

.board-11 {
  grid-template-columns: repeat(11, 1fr);
}

.board-12 {
  grid-template-columns: repeat(12, 1fr);
}

.board-13 {
  grid-template-columns: repeat(13, 1fr);
}

.board-14 {
  grid-template-columns: repeat(14, 1fr);
}

.board-15 {
  grid-template-columns: repeat(15, 1fr);
}

.board-16 {
  grid-template-columns: repeat(16, 1fr);
}

.board-17 {
  grid-template-columns: repeat(17, 1fr);
}

.board-18 {
  grid-template-columns: repeat(18, 1fr);
}

.board-19 {
  grid-template-columns: repeat(19, 1fr);
}

.board-20 {
  grid-template-columns: repeat(20, 1fr);
}

.board-21 {
  grid-template-columns: repeat(21, 1fr);
}

.board-22 {
  grid-template-columns: repeat(22, 1fr);
}

.board-23 {
  grid-template-columns: repeat(23, 1fr);
}

.board-24 {
  grid-template-columns: repeat(24, 1fr);
}

.board-25 {
  grid-template-columns: repeat(25, 1fr);
}

.board-26 {
  grid-template-columns: repeat(26, 1fr);
}

.board-27 {
  grid-template-columns: repeat(27, 1fr);
}

.board-28 {
  grid-template-columns: repeat(28, 1fr);
}

.board-29 {
  grid-template-columns: repeat(29, 1fr);
}

.board-30 {
  grid-template-columns: repeat(30, 1fr);
}

.board-31 {
  grid-template-columns: repeat(31, 1fr);
}

.board-32 {
  grid-template-columns: repeat(32, 1fr);
}

.board-33 {
  grid-template-columns: repeat(33, 1fr);
}

.board-34 {
  grid-template-columns: repeat(34, 1fr);
}

.board-35 {
  grid-template-columns: repeat(35, 1fr);
}

.board-36 {
  grid-template-columns: repeat(36, 1fr);
}

.board-37 {
  grid-template-columns: repeat(37, 1fr);
}

.board-38 {
  grid-template-columns: repeat(38, 1fr);
}

.board-39 {
  grid-template-columns: repeat(39, 1fr);
}

.board-40 {
  grid-template-columns: repeat(40, 1fr);
}

.board-41 {
  grid-template-columns: repeat(41, 1fr);
}

.board-42 {
  grid-template-columns: repeat(42, 1fr);
}

.board-43 {
  grid-template-columns: repeat(43, 1fr);
}

.board-44 {
  grid-template-columns: repeat(44, 1fr);
}

.board-45 {
  grid-template-columns: repeat(45, 1fr);
}

.board-46 {
  grid-template-columns: repeat(46, 1fr);
}

.board-47 {
  grid-template-columns: repeat(47, 1fr);
}

.board-48 {
  grid-template-columns: repeat(48, 1fr);
}

.board-49 {
  grid-template-columns: repeat(49, 1fr);
}

.board-50 {
  grid-template-columns: repeat(50, 1fr);
}

.board-51 {
  grid-template-columns: repeat(51, 1fr);
}

.board-52 {
  grid-template-columns: repeat(52, 1fr);
}

.board-53 {
  grid-template-columns: repeat(53, 1fr);
}

.board-54 {
  grid-template-columns: repeat(54, 1fr);
}

.board-55 {
  grid-template-columns: repeat(55, 1fr);
}

.board-56 {
  grid-template-columns: repeat(56, 1fr);
}

.board-57 {
  grid-template-columns: repeat(57, 1fr);
}

.board-58 {
  grid-template-columns: repeat(58, 1fr);
}

.board-59 {
  grid-template-columns: repeat(59, 1fr);
}

.board-60 {
  grid-template-columns: repeat(60, 1fr);
}

.board-61 {
  grid-template-columns: repeat(61, 1fr);
}

.board-62 {
  grid-template-columns: repeat(62, 1fr);
}

.board-63 {
  grid-template-columns: repeat(63, 1fr);
}

.board-64 {
  grid-template-columns: repeat(64, 1fr);
}

.board-65 {
  grid-template-columns: repeat(65, 1fr);
}

.board-66 {
  grid-template-columns: repeat(66, 1fr);
}

.board-67 {
  grid-template-columns: repeat(67, 1fr);
}

.board-68 {
  grid-template-columns: repeat(68, 1fr);
}

.board-69 {
  grid-template-columns: repeat(69, 1fr);
}

.board-70 {
  grid-template-columns: repeat(70, 1fr);
}

.board-71 {
  grid-template-columns: repeat(71, 1fr);
}

.board-72 {
  grid-template-columns: repeat(72, 1fr);
}

.board-73 {
  grid-template-columns: repeat(73, 1fr);
}

.board-74 {
  grid-template-columns: repeat(74, 1fr);
}

.board-75 {
  grid-template-columns: repeat(75, 1fr);
}

.board-76 {
  grid-template-columns: repeat(76, 1fr);
}

.board-77 {
  grid-template-columns: repeat(77, 1fr);
}

.board-78 {
  grid-template-columns: repeat(78, 1fr);
}

.board-79 {
  grid-template-columns: repeat(79, 1fr);
}

.board-80 {
  grid-template-columns: repeat(80, 1fr);
}

.board-81 {
  grid-template-columns: repeat(81, 1fr);
}

.board-82 {
  grid-template-columns: repeat(82, 1fr);
}

.board-83 {
  grid-template-columns: repeat(83, 1fr);
}

.board-84 {
  grid-template-columns: repeat(84, 1fr);
}

.board-85 {
  grid-template-columns: repeat(85, 1fr);
}

.board-86 {
  grid-template-columns: repeat(86, 1fr);
}

.board-87 {
  grid-template-columns: repeat(87, 1fr);
}

.board-88 {
  grid-template-columns: repeat(88, 1fr);
}

.board-89 {
  grid-template-columns: repeat(89, 1fr);
}

.board-90 {
  grid-template-columns: repeat(90, 1fr);
}

.board-91 {
  grid-template-columns: repeat(91, 1fr);
}

.board-92 {
  grid-template-columns: repeat(92, 1fr);
}

.board-93 {
  grid-template-columns: repeat(93, 1fr);
}

.board-94 {
  grid-template-columns: repeat(94, 1fr);
}

.board-95 {
  grid-template-columns: repeat(95, 1fr);
}

.board-96 {
  grid-template-columns: repeat(96, 1fr);
}

.board-97 {
  grid-template-columns: repeat(97, 1fr);
}

.board-98 {
  grid-template-columns: repeat(98, 1fr);
}

.board-99 {
  grid-template-columns: repeat(99, 1fr);
}

.board-100 {
  grid-template-columns: repeat(100, 1fr);
}

.holder:not(.retro-mode) .retro {
  display: none;
}
.holder:not(.retro-mode) .panel {
  border-radius: 0.5em;
  background-color: #3b4252;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.holder:not(.retro-mode) .panel-side {
  padding: 1em;
  font-size: 1.125em;
}
.holder:not(.retro-mode) .panel-side .board {
  gap: 0.25vmin;
}
.holder:not(.retro-mode) .cell {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.125s linear;
  border-radius: 0.25em;
  padding: 10%;
}
.holder:not(.retro-mode) .cell .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1em, 4vw, 2em);
  aspect-ratio: 1;
}
.holder:not(.retro-mode) .cell:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
}
.holder:not(.retro-mode) button {
  transition: all 0.25s linear;
  width: 100%;
  color: #C0C5CE;
  background-color: #434c5e;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.holder:not(.retro-mode) button:hover {
  background-color: #4c566a;
  color: #eceff4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.holder.retro-mode {
  font-family: "VT323", monospace;
  font-size: 4vmin;
  line-height: 4vmin;
  font-stretch: expanded;
}
@media (min-width: 768px) {
  .holder.retro-mode {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    grid-template-areas: ". center" ". center";
  }
}
@media (min-width: 992px) {
  .holder.retro-mode {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". center .";
  }
}
@media (min-width: 1400px) {
  .holder.retro-mode {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". center .";
  }
}
.holder.retro-mode .icon {
  display: none;
}
.holder.retro-mode .panel {
  max-width: 40vw;
}
.holder.retro-mode .panel-center {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  font-size: 8vmin;
  line-height: 5vmin;
}
.holder.retro-mode .board {
  gap: 0;
  aspect-ratio: unset;
}
.holder.retro-mode .cell {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  transition: all 0.125s linear;
}
.holder.retro-mode .cell:hover {
  background-color: #3b4252;
}
.holder.retro-mode .cell .retro {
  justify-content: center;
  align-items: center;
}

.icon {
  width: 100%;
  aspect-ratio: 1;
  display: block;
}

.person-0 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M255 45.4c-24.5 0-47 11.8-63.9 33.4-16.9 21.5-27.1 52.6-27.1 86.5 0 36 12.1 67.5 31 89.5l13.5 15-19.6 4.6c-52.3 11.9-77.4 36.9-91.75 75.2-13.7 35.7-15.6 84.8-16.1 143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7 12.9-15.7c17.7-21.9 28.8-52.6 28.8-87.5 0-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z' fill='%232e3440' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.skeleton-0 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M262.81 16.098c-10.335-.044-20.657.6-30.867 1.894l-2.68.246c1.754 19.05-1.177 32.7-7.144 39.69-5.967 6.99-15.964 10.454-36.102 6.328l-18.686-3.83 8.426 17.11c5.744 11.666 2.894 24.13-5.42 31.386s-22.805 10.594-44.797-1.443l-17.257-9.447 3.582 19.344c3.326 17.958-1.815 26.41-10.158 31.99-8.343 5.582-21.628 7.223-33.15 4.725l-.14.644-2.292-1.51c-8.416 30.07-10.557 65.306-4.252 106.08l15.184 94.135 70.295-13.24 3.46 18.366-15.384 2.897L179.96 488.79h25.39l-7.81-61.89 18.534-2.337 8.104 64.226h29.613v-65.325h18.69v65.324h29.61l8.105-64.228 18.534 2.338-7.81 61.89h25.486l44.352-126.808-18.133-3.416 3.46-18.365 70.185 13.22 18.236-94.22c12.634-81.883-9.59-141.71-48.71-181.966-39.135-40.268-95.95-60.884-152.966-61.136h-.02zm-14.51 20.14c45.57 29.486 39.706 97.78-19.587 70.834 34.772 67.943-24.572 97.148-69.838 55.2 3.894 37.6-40.093 48.023-69.316 11.056 7.962-1.166 15.703-3.855 22.538-8.428 10.563-7.066 17.958-19.23 19.1-34.785 20.852 6.868 39.385 3.4 51.43-7.113 10.958-9.566 16.144-24.103 14.368-38.635 16.913.726 30.568-4.03 39.34-14.306 7.624-8.933 11.127-20.532 11.965-33.822zm-61.9 167.98c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm157.543 0c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm-80.675 79.74l39.937 101.6-17.03 7.05-22.905-35.477-22.905 35.477-17.62-7.048 40.523-101.603z' fill='%232e3440' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.wall-0 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px; width: 512px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0,0)'%3E%3Cpath d='M494 18.02l-101 .103V119h101zm-119 .12l-238 .247V119h238zm-256 .266L18 18.51V119h101zM18 137v110h229V137zm247 0v110h229V137zM18 265v110h101V265zm119 0v110h238V265zm256 0v110h101V265zM18 393v100.98l229-.236V393zm247 0v100.727l229-.237V393z' fill='%232e3440' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.door-0 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M208.7 22.36l22.4 77.23c8.9-1.66 18.1-2.49 27.6-2.49 8.5 0 16.8.68 24.9 2.02l22.2-76.76zm103.1 46.26l-10 34.78c15.2 4.8 29.1 12.3 40.8 22.7l25.5-23.8c-16-14.79-35.1-26.35-56.3-33.68zm-108.9.86c-21 7.67-39.9 19.61-55.6 34.72l25.5 23.8c.1-.1.2-.3.4-.4 11.4-10.6 24.9-18.3 39.8-23.4zM97.56 83.35L59.71 139l86.09 30.1c3.7-10 8.6-19.1 14.5-27.1zm318.24 0l-60.3 56.35c6.4 8.2 11.7 17.6 15.7 28.1l82.4-28.8zM268 116v317.5h93.4V218.6c0-35.3-11.5-60.4-29.8-77.3-16.2-15-38.3-23.6-63.6-25.3zm-18.6 0c-25.2 1.7-47.3 10.3-63.6 25.3-18.2 16.8-29.7 42-29.7 77.3v214.9h93.3zm163 57.3l-35.8 12.5c2.2 10.2 3.4 21.1 3.4 32.8v9.3h38.9v-9.3c0-15.8-2.3-31-6.5-45.3zM105 174.7c-3.9 13.9-6.05 28.6-6.05 43.9v9.3h38.55v-9.3c0-11.2 1.1-21.7 3.1-31.4zm-39.3 71.8v56.2h71.8v-56.2zm314.3 0v56.2h66v-56.2zM98.95 321.3v37.5h38.55v-37.5zm281.05 0v37.5h38.9v-37.5zM56.16 377.4v56.1h81.34v-56.1zm323.84 0v56.1h75.8v-56.1zm-233.3 74.7l-39.6 37.5h297.4l-33-37.5z' fill='%232e3440' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.color-0 {
  color: #2e3440;
}

.background-0 {
  background-color: #2e3440;
}

.person-1 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M255 45.4c-24.5 0-47 11.8-63.9 33.4-16.9 21.5-27.1 52.6-27.1 86.5 0 36 12.1 67.5 31 89.5l13.5 15-19.6 4.6c-52.3 11.9-77.4 36.9-91.75 75.2-13.7 35.7-15.6 84.8-16.1 143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7 12.9-15.7c17.7-21.9 28.8-52.6 28.8-87.5 0-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z' fill='%233b4252' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.skeleton-1 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M262.81 16.098c-10.335-.044-20.657.6-30.867 1.894l-2.68.246c1.754 19.05-1.177 32.7-7.144 39.69-5.967 6.99-15.964 10.454-36.102 6.328l-18.686-3.83 8.426 17.11c5.744 11.666 2.894 24.13-5.42 31.386s-22.805 10.594-44.797-1.443l-17.257-9.447 3.582 19.344c3.326 17.958-1.815 26.41-10.158 31.99-8.343 5.582-21.628 7.223-33.15 4.725l-.14.644-2.292-1.51c-8.416 30.07-10.557 65.306-4.252 106.08l15.184 94.135 70.295-13.24 3.46 18.366-15.384 2.897L179.96 488.79h25.39l-7.81-61.89 18.534-2.337 8.104 64.226h29.613v-65.325h18.69v65.324h29.61l8.105-64.228 18.534 2.338-7.81 61.89h25.486l44.352-126.808-18.133-3.416 3.46-18.365 70.185 13.22 18.236-94.22c12.634-81.883-9.59-141.71-48.71-181.966-39.135-40.268-95.95-60.884-152.966-61.136h-.02zm-14.51 20.14c45.57 29.486 39.706 97.78-19.587 70.834 34.772 67.943-24.572 97.148-69.838 55.2 3.894 37.6-40.093 48.023-69.316 11.056 7.962-1.166 15.703-3.855 22.538-8.428 10.563-7.066 17.958-19.23 19.1-34.785 20.852 6.868 39.385 3.4 51.43-7.113 10.958-9.566 16.144-24.103 14.368-38.635 16.913.726 30.568-4.03 39.34-14.306 7.624-8.933 11.127-20.532 11.965-33.822zm-61.9 167.98c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm157.543 0c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm-80.675 79.74l39.937 101.6-17.03 7.05-22.905-35.477-22.905 35.477-17.62-7.048 40.523-101.603z' fill='%233b4252' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.wall-1 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px; width: 512px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0,0)'%3E%3Cpath d='M494 18.02l-101 .103V119h101zm-119 .12l-238 .247V119h238zm-256 .266L18 18.51V119h101zM18 137v110h229V137zm247 0v110h229V137zM18 265v110h101V265zm119 0v110h238V265zm256 0v110h101V265zM18 393v100.98l229-.236V393zm247 0v100.727l229-.237V393z' fill='%233b4252' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.door-1 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M208.7 22.36l22.4 77.23c8.9-1.66 18.1-2.49 27.6-2.49 8.5 0 16.8.68 24.9 2.02l22.2-76.76zm103.1 46.26l-10 34.78c15.2 4.8 29.1 12.3 40.8 22.7l25.5-23.8c-16-14.79-35.1-26.35-56.3-33.68zm-108.9.86c-21 7.67-39.9 19.61-55.6 34.72l25.5 23.8c.1-.1.2-.3.4-.4 11.4-10.6 24.9-18.3 39.8-23.4zM97.56 83.35L59.71 139l86.09 30.1c3.7-10 8.6-19.1 14.5-27.1zm318.24 0l-60.3 56.35c6.4 8.2 11.7 17.6 15.7 28.1l82.4-28.8zM268 116v317.5h93.4V218.6c0-35.3-11.5-60.4-29.8-77.3-16.2-15-38.3-23.6-63.6-25.3zm-18.6 0c-25.2 1.7-47.3 10.3-63.6 25.3-18.2 16.8-29.7 42-29.7 77.3v214.9h93.3zm163 57.3l-35.8 12.5c2.2 10.2 3.4 21.1 3.4 32.8v9.3h38.9v-9.3c0-15.8-2.3-31-6.5-45.3zM105 174.7c-3.9 13.9-6.05 28.6-6.05 43.9v9.3h38.55v-9.3c0-11.2 1.1-21.7 3.1-31.4zm-39.3 71.8v56.2h71.8v-56.2zm314.3 0v56.2h66v-56.2zM98.95 321.3v37.5h38.55v-37.5zm281.05 0v37.5h38.9v-37.5zM56.16 377.4v56.1h81.34v-56.1zm323.84 0v56.1h75.8v-56.1zm-233.3 74.7l-39.6 37.5h297.4l-33-37.5z' fill='%233b4252' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.color-1 {
  color: #3b4252;
}

.background-1 {
  background-color: #3b4252;
}

.person-2 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M255 45.4c-24.5 0-47 11.8-63.9 33.4-16.9 21.5-27.1 52.6-27.1 86.5 0 36 12.1 67.5 31 89.5l13.5 15-19.6 4.6c-52.3 11.9-77.4 36.9-91.75 75.2-13.7 35.7-15.6 84.8-16.1 143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7 12.9-15.7c17.7-21.9 28.8-52.6 28.8-87.5 0-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z' fill='%23434c5e' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.skeleton-2 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M262.81 16.098c-10.335-.044-20.657.6-30.867 1.894l-2.68.246c1.754 19.05-1.177 32.7-7.144 39.69-5.967 6.99-15.964 10.454-36.102 6.328l-18.686-3.83 8.426 17.11c5.744 11.666 2.894 24.13-5.42 31.386s-22.805 10.594-44.797-1.443l-17.257-9.447 3.582 19.344c3.326 17.958-1.815 26.41-10.158 31.99-8.343 5.582-21.628 7.223-33.15 4.725l-.14.644-2.292-1.51c-8.416 30.07-10.557 65.306-4.252 106.08l15.184 94.135 70.295-13.24 3.46 18.366-15.384 2.897L179.96 488.79h25.39l-7.81-61.89 18.534-2.337 8.104 64.226h29.613v-65.325h18.69v65.324h29.61l8.105-64.228 18.534 2.338-7.81 61.89h25.486l44.352-126.808-18.133-3.416 3.46-18.365 70.185 13.22 18.236-94.22c12.634-81.883-9.59-141.71-48.71-181.966-39.135-40.268-95.95-60.884-152.966-61.136h-.02zm-14.51 20.14c45.57 29.486 39.706 97.78-19.587 70.834 34.772 67.943-24.572 97.148-69.838 55.2 3.894 37.6-40.093 48.023-69.316 11.056 7.962-1.166 15.703-3.855 22.538-8.428 10.563-7.066 17.958-19.23 19.1-34.785 20.852 6.868 39.385 3.4 51.43-7.113 10.958-9.566 16.144-24.103 14.368-38.635 16.913.726 30.568-4.03 39.34-14.306 7.624-8.933 11.127-20.532 11.965-33.822zm-61.9 167.98c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm157.543 0c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm-80.675 79.74l39.937 101.6-17.03 7.05-22.905-35.477-22.905 35.477-17.62-7.048 40.523-101.603z' fill='%23434c5e' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.wall-2 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px; width: 512px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0,0)'%3E%3Cpath d='M494 18.02l-101 .103V119h101zm-119 .12l-238 .247V119h238zm-256 .266L18 18.51V119h101zM18 137v110h229V137zm247 0v110h229V137zM18 265v110h101V265zm119 0v110h238V265zm256 0v110h101V265zM18 393v100.98l229-.236V393zm247 0v100.727l229-.237V393z' fill='%23434c5e' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.door-2 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M208.7 22.36l22.4 77.23c8.9-1.66 18.1-2.49 27.6-2.49 8.5 0 16.8.68 24.9 2.02l22.2-76.76zm103.1 46.26l-10 34.78c15.2 4.8 29.1 12.3 40.8 22.7l25.5-23.8c-16-14.79-35.1-26.35-56.3-33.68zm-108.9.86c-21 7.67-39.9 19.61-55.6 34.72l25.5 23.8c.1-.1.2-.3.4-.4 11.4-10.6 24.9-18.3 39.8-23.4zM97.56 83.35L59.71 139l86.09 30.1c3.7-10 8.6-19.1 14.5-27.1zm318.24 0l-60.3 56.35c6.4 8.2 11.7 17.6 15.7 28.1l82.4-28.8zM268 116v317.5h93.4V218.6c0-35.3-11.5-60.4-29.8-77.3-16.2-15-38.3-23.6-63.6-25.3zm-18.6 0c-25.2 1.7-47.3 10.3-63.6 25.3-18.2 16.8-29.7 42-29.7 77.3v214.9h93.3zm163 57.3l-35.8 12.5c2.2 10.2 3.4 21.1 3.4 32.8v9.3h38.9v-9.3c0-15.8-2.3-31-6.5-45.3zM105 174.7c-3.9 13.9-6.05 28.6-6.05 43.9v9.3h38.55v-9.3c0-11.2 1.1-21.7 3.1-31.4zm-39.3 71.8v56.2h71.8v-56.2zm314.3 0v56.2h66v-56.2zM98.95 321.3v37.5h38.55v-37.5zm281.05 0v37.5h38.9v-37.5zM56.16 377.4v56.1h81.34v-56.1zm323.84 0v56.1h75.8v-56.1zm-233.3 74.7l-39.6 37.5h297.4l-33-37.5z' fill='%23434c5e' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.color-2 {
  color: #434c5e;
}

.background-2 {
  background-color: #434c5e;
}

.person-3 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M255 45.4c-24.5 0-47 11.8-63.9 33.4-16.9 21.5-27.1 52.6-27.1 86.5 0 36 12.1 67.5 31 89.5l13.5 15-19.6 4.6c-52.3 11.9-77.4 36.9-91.75 75.2-13.7 35.7-15.6 84.8-16.1 143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7 12.9-15.7c17.7-21.9 28.8-52.6 28.8-87.5 0-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z' fill='%234c566a' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.skeleton-3 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M262.81 16.098c-10.335-.044-20.657.6-30.867 1.894l-2.68.246c1.754 19.05-1.177 32.7-7.144 39.69-5.967 6.99-15.964 10.454-36.102 6.328l-18.686-3.83 8.426 17.11c5.744 11.666 2.894 24.13-5.42 31.386s-22.805 10.594-44.797-1.443l-17.257-9.447 3.582 19.344c3.326 17.958-1.815 26.41-10.158 31.99-8.343 5.582-21.628 7.223-33.15 4.725l-.14.644-2.292-1.51c-8.416 30.07-10.557 65.306-4.252 106.08l15.184 94.135 70.295-13.24 3.46 18.366-15.384 2.897L179.96 488.79h25.39l-7.81-61.89 18.534-2.337 8.104 64.226h29.613v-65.325h18.69v65.324h29.61l8.105-64.228 18.534 2.338-7.81 61.89h25.486l44.352-126.808-18.133-3.416 3.46-18.365 70.185 13.22 18.236-94.22c12.634-81.883-9.59-141.71-48.71-181.966-39.135-40.268-95.95-60.884-152.966-61.136h-.02zm-14.51 20.14c45.57 29.486 39.706 97.78-19.587 70.834 34.772 67.943-24.572 97.148-69.838 55.2 3.894 37.6-40.093 48.023-69.316 11.056 7.962-1.166 15.703-3.855 22.538-8.428 10.563-7.066 17.958-19.23 19.1-34.785 20.852 6.868 39.385 3.4 51.43-7.113 10.958-9.566 16.144-24.103 14.368-38.635 16.913.726 30.568-4.03 39.34-14.306 7.624-8.933 11.127-20.532 11.965-33.822zm-61.9 167.98c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm157.543 0c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm-80.675 79.74l39.937 101.6-17.03 7.05-22.905-35.477-22.905 35.477-17.62-7.048 40.523-101.603z' fill='%234c566a' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.wall-3 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px; width: 512px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0,0)'%3E%3Cpath d='M494 18.02l-101 .103V119h101zm-119 .12l-238 .247V119h238zm-256 .266L18 18.51V119h101zM18 137v110h229V137zm247 0v110h229V137zM18 265v110h101V265zm119 0v110h238V265zm256 0v110h101V265zM18 393v100.98l229-.236V393zm247 0v100.727l229-.237V393z' fill='%234c566a' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.door-3 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M208.7 22.36l22.4 77.23c8.9-1.66 18.1-2.49 27.6-2.49 8.5 0 16.8.68 24.9 2.02l22.2-76.76zm103.1 46.26l-10 34.78c15.2 4.8 29.1 12.3 40.8 22.7l25.5-23.8c-16-14.79-35.1-26.35-56.3-33.68zm-108.9.86c-21 7.67-39.9 19.61-55.6 34.72l25.5 23.8c.1-.1.2-.3.4-.4 11.4-10.6 24.9-18.3 39.8-23.4zM97.56 83.35L59.71 139l86.09 30.1c3.7-10 8.6-19.1 14.5-27.1zm318.24 0l-60.3 56.35c6.4 8.2 11.7 17.6 15.7 28.1l82.4-28.8zM268 116v317.5h93.4V218.6c0-35.3-11.5-60.4-29.8-77.3-16.2-15-38.3-23.6-63.6-25.3zm-18.6 0c-25.2 1.7-47.3 10.3-63.6 25.3-18.2 16.8-29.7 42-29.7 77.3v214.9h93.3zm163 57.3l-35.8 12.5c2.2 10.2 3.4 21.1 3.4 32.8v9.3h38.9v-9.3c0-15.8-2.3-31-6.5-45.3zM105 174.7c-3.9 13.9-6.05 28.6-6.05 43.9v9.3h38.55v-9.3c0-11.2 1.1-21.7 3.1-31.4zm-39.3 71.8v56.2h71.8v-56.2zm314.3 0v56.2h66v-56.2zM98.95 321.3v37.5h38.55v-37.5zm281.05 0v37.5h38.9v-37.5zM56.16 377.4v56.1h81.34v-56.1zm323.84 0v56.1h75.8v-56.1zm-233.3 74.7l-39.6 37.5h297.4l-33-37.5z' fill='%234c566a' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.color-3 {
  color: #4c566a;
}

.background-3 {
  background-color: #4c566a;
}

.person-4 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M255 45.4c-24.5 0-47 11.8-63.9 33.4-16.9 21.5-27.1 52.6-27.1 86.5 0 36 12.1 67.5 31 89.5l13.5 15-19.6 4.6c-52.3 11.9-77.4 36.9-91.75 75.2-13.7 35.7-15.6 84.8-16.1 143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7 12.9-15.7c17.7-21.9 28.8-52.6 28.8-87.5 0-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z' fill='%23656E81' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.skeleton-4 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M262.81 16.098c-10.335-.044-20.657.6-30.867 1.894l-2.68.246c1.754 19.05-1.177 32.7-7.144 39.69-5.967 6.99-15.964 10.454-36.102 6.328l-18.686-3.83 8.426 17.11c5.744 11.666 2.894 24.13-5.42 31.386s-22.805 10.594-44.797-1.443l-17.257-9.447 3.582 19.344c3.326 17.958-1.815 26.41-10.158 31.99-8.343 5.582-21.628 7.223-33.15 4.725l-.14.644-2.292-1.51c-8.416 30.07-10.557 65.306-4.252 106.08l15.184 94.135 70.295-13.24 3.46 18.366-15.384 2.897L179.96 488.79h25.39l-7.81-61.89 18.534-2.337 8.104 64.226h29.613v-65.325h18.69v65.324h29.61l8.105-64.228 18.534 2.338-7.81 61.89h25.486l44.352-126.808-18.133-3.416 3.46-18.365 70.185 13.22 18.236-94.22c12.634-81.883-9.59-141.71-48.71-181.966-39.135-40.268-95.95-60.884-152.966-61.136h-.02zm-14.51 20.14c45.57 29.486 39.706 97.78-19.587 70.834 34.772 67.943-24.572 97.148-69.838 55.2 3.894 37.6-40.093 48.023-69.316 11.056 7.962-1.166 15.703-3.855 22.538-8.428 10.563-7.066 17.958-19.23 19.1-34.785 20.852 6.868 39.385 3.4 51.43-7.113 10.958-9.566 16.144-24.103 14.368-38.635 16.913.726 30.568-4.03 39.34-14.306 7.624-8.933 11.127-20.532 11.965-33.822zm-61.9 167.98c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm157.543 0c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm-80.675 79.74l39.937 101.6-17.03 7.05-22.905-35.477-22.905 35.477-17.62-7.048 40.523-101.603z' fill='%23656E81' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.wall-4 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px; width: 512px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0,0)'%3E%3Cpath d='M494 18.02l-101 .103V119h101zm-119 .12l-238 .247V119h238zm-256 .266L18 18.51V119h101zM18 137v110h229V137zm247 0v110h229V137zM18 265v110h101V265zm119 0v110h238V265zm256 0v110h101V265zM18 393v100.98l229-.236V393zm247 0v100.727l229-.237V393z' fill='%23656E81' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.door-4 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M208.7 22.36l22.4 77.23c8.9-1.66 18.1-2.49 27.6-2.49 8.5 0 16.8.68 24.9 2.02l22.2-76.76zm103.1 46.26l-10 34.78c15.2 4.8 29.1 12.3 40.8 22.7l25.5-23.8c-16-14.79-35.1-26.35-56.3-33.68zm-108.9.86c-21 7.67-39.9 19.61-55.6 34.72l25.5 23.8c.1-.1.2-.3.4-.4 11.4-10.6 24.9-18.3 39.8-23.4zM97.56 83.35L59.71 139l86.09 30.1c3.7-10 8.6-19.1 14.5-27.1zm318.24 0l-60.3 56.35c6.4 8.2 11.7 17.6 15.7 28.1l82.4-28.8zM268 116v317.5h93.4V218.6c0-35.3-11.5-60.4-29.8-77.3-16.2-15-38.3-23.6-63.6-25.3zm-18.6 0c-25.2 1.7-47.3 10.3-63.6 25.3-18.2 16.8-29.7 42-29.7 77.3v214.9h93.3zm163 57.3l-35.8 12.5c2.2 10.2 3.4 21.1 3.4 32.8v9.3h38.9v-9.3c0-15.8-2.3-31-6.5-45.3zM105 174.7c-3.9 13.9-6.05 28.6-6.05 43.9v9.3h38.55v-9.3c0-11.2 1.1-21.7 3.1-31.4zm-39.3 71.8v56.2h71.8v-56.2zm314.3 0v56.2h66v-56.2zM98.95 321.3v37.5h38.55v-37.5zm281.05 0v37.5h38.9v-37.5zM56.16 377.4v56.1h81.34v-56.1zm323.84 0v56.1h75.8v-56.1zm-233.3 74.7l-39.6 37.5h297.4l-33-37.5z' fill='%23656E81' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.color-4 {
  color: #656E81;
}

.background-4 {
  background-color: #656E81;
}

.person-5 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M255 45.4c-24.5 0-47 11.8-63.9 33.4-16.9 21.5-27.1 52.6-27.1 86.5 0 36 12.1 67.5 31 89.5l13.5 15-19.6 4.6c-52.3 11.9-77.4 36.9-91.75 75.2-13.7 35.7-15.6 84.8-16.1 143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7 12.9-15.7c17.7-21.9 28.8-52.6 28.8-87.5 0-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z' fill='%23A3A9B5' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.skeleton-5 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M262.81 16.098c-10.335-.044-20.657.6-30.867 1.894l-2.68.246c1.754 19.05-1.177 32.7-7.144 39.69-5.967 6.99-15.964 10.454-36.102 6.328l-18.686-3.83 8.426 17.11c5.744 11.666 2.894 24.13-5.42 31.386s-22.805 10.594-44.797-1.443l-17.257-9.447 3.582 19.344c3.326 17.958-1.815 26.41-10.158 31.99-8.343 5.582-21.628 7.223-33.15 4.725l-.14.644-2.292-1.51c-8.416 30.07-10.557 65.306-4.252 106.08l15.184 94.135 70.295-13.24 3.46 18.366-15.384 2.897L179.96 488.79h25.39l-7.81-61.89 18.534-2.337 8.104 64.226h29.613v-65.325h18.69v65.324h29.61l8.105-64.228 18.534 2.338-7.81 61.89h25.486l44.352-126.808-18.133-3.416 3.46-18.365 70.185 13.22 18.236-94.22c12.634-81.883-9.59-141.71-48.71-181.966-39.135-40.268-95.95-60.884-152.966-61.136h-.02zm-14.51 20.14c45.57 29.486 39.706 97.78-19.587 70.834 34.772 67.943-24.572 97.148-69.838 55.2 3.894 37.6-40.093 48.023-69.316 11.056 7.962-1.166 15.703-3.855 22.538-8.428 10.563-7.066 17.958-19.23 19.1-34.785 20.852 6.868 39.385 3.4 51.43-7.113 10.958-9.566 16.144-24.103 14.368-38.635 16.913.726 30.568-4.03 39.34-14.306 7.624-8.933 11.127-20.532 11.965-33.822zm-61.9 167.98c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm157.543 0c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm-80.675 79.74l39.937 101.6-17.03 7.05-22.905-35.477-22.905 35.477-17.62-7.048 40.523-101.603z' fill='%23A3A9B5' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.wall-5 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px; width: 512px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0,0)'%3E%3Cpath d='M494 18.02l-101 .103V119h101zm-119 .12l-238 .247V119h238zm-256 .266L18 18.51V119h101zM18 137v110h229V137zm247 0v110h229V137zM18 265v110h101V265zm119 0v110h238V265zm256 0v110h101V265zM18 393v100.98l229-.236V393zm247 0v100.727l229-.237V393z' fill='%23A3A9B5' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.door-5 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M208.7 22.36l22.4 77.23c8.9-1.66 18.1-2.49 27.6-2.49 8.5 0 16.8.68 24.9 2.02l22.2-76.76zm103.1 46.26l-10 34.78c15.2 4.8 29.1 12.3 40.8 22.7l25.5-23.8c-16-14.79-35.1-26.35-56.3-33.68zm-108.9.86c-21 7.67-39.9 19.61-55.6 34.72l25.5 23.8c.1-.1.2-.3.4-.4 11.4-10.6 24.9-18.3 39.8-23.4zM97.56 83.35L59.71 139l86.09 30.1c3.7-10 8.6-19.1 14.5-27.1zm318.24 0l-60.3 56.35c6.4 8.2 11.7 17.6 15.7 28.1l82.4-28.8zM268 116v317.5h93.4V218.6c0-35.3-11.5-60.4-29.8-77.3-16.2-15-38.3-23.6-63.6-25.3zm-18.6 0c-25.2 1.7-47.3 10.3-63.6 25.3-18.2 16.8-29.7 42-29.7 77.3v214.9h93.3zm163 57.3l-35.8 12.5c2.2 10.2 3.4 21.1 3.4 32.8v9.3h38.9v-9.3c0-15.8-2.3-31-6.5-45.3zM105 174.7c-3.9 13.9-6.05 28.6-6.05 43.9v9.3h38.55v-9.3c0-11.2 1.1-21.7 3.1-31.4zm-39.3 71.8v56.2h71.8v-56.2zm314.3 0v56.2h66v-56.2zM98.95 321.3v37.5h38.55v-37.5zm281.05 0v37.5h38.9v-37.5zM56.16 377.4v56.1h81.34v-56.1zm323.84 0v56.1h75.8v-56.1zm-233.3 74.7l-39.6 37.5h297.4l-33-37.5z' fill='%23A3A9B5' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.color-5 {
  color: #A3A9B5;
}

.background-5 {
  background-color: #A3A9B5;
}

.person-6 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M255 45.4c-24.5 0-47 11.8-63.9 33.4-16.9 21.5-27.1 52.6-27.1 86.5 0 36 12.1 67.5 31 89.5l13.5 15-19.6 4.6c-52.3 11.9-77.4 36.9-91.75 75.2-13.7 35.7-15.6 84.8-16.1 143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7 12.9-15.7c17.7-21.9 28.8-52.6 28.8-87.5 0-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z' fill='%23C0C5CE' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.skeleton-6 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M262.81 16.098c-10.335-.044-20.657.6-30.867 1.894l-2.68.246c1.754 19.05-1.177 32.7-7.144 39.69-5.967 6.99-15.964 10.454-36.102 6.328l-18.686-3.83 8.426 17.11c5.744 11.666 2.894 24.13-5.42 31.386s-22.805 10.594-44.797-1.443l-17.257-9.447 3.582 19.344c3.326 17.958-1.815 26.41-10.158 31.99-8.343 5.582-21.628 7.223-33.15 4.725l-.14.644-2.292-1.51c-8.416 30.07-10.557 65.306-4.252 106.08l15.184 94.135 70.295-13.24 3.46 18.366-15.384 2.897L179.96 488.79h25.39l-7.81-61.89 18.534-2.337 8.104 64.226h29.613v-65.325h18.69v65.324h29.61l8.105-64.228 18.534 2.338-7.81 61.89h25.486l44.352-126.808-18.133-3.416 3.46-18.365 70.185 13.22 18.236-94.22c12.634-81.883-9.59-141.71-48.71-181.966-39.135-40.268-95.95-60.884-152.966-61.136h-.02zm-14.51 20.14c45.57 29.486 39.706 97.78-19.587 70.834 34.772 67.943-24.572 97.148-69.838 55.2 3.894 37.6-40.093 48.023-69.316 11.056 7.962-1.166 15.703-3.855 22.538-8.428 10.563-7.066 17.958-19.23 19.1-34.785 20.852 6.868 39.385 3.4 51.43-7.113 10.958-9.566 16.144-24.103 14.368-38.635 16.913.726 30.568-4.03 39.34-14.306 7.624-8.933 11.127-20.532 11.965-33.822zm-61.9 167.98c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm157.543 0c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm-80.675 79.74l39.937 101.6-17.03 7.05-22.905-35.477-22.905 35.477-17.62-7.048 40.523-101.603z' fill='%23C0C5CE' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.wall-6 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px; width: 512px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0,0)'%3E%3Cpath d='M494 18.02l-101 .103V119h101zm-119 .12l-238 .247V119h238zm-256 .266L18 18.51V119h101zM18 137v110h229V137zm247 0v110h229V137zM18 265v110h101V265zm119 0v110h238V265zm256 0v110h101V265zM18 393v100.98l229-.236V393zm247 0v100.727l229-.237V393z' fill='%23C0C5CE' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.door-6 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M208.7 22.36l22.4 77.23c8.9-1.66 18.1-2.49 27.6-2.49 8.5 0 16.8.68 24.9 2.02l22.2-76.76zm103.1 46.26l-10 34.78c15.2 4.8 29.1 12.3 40.8 22.7l25.5-23.8c-16-14.79-35.1-26.35-56.3-33.68zm-108.9.86c-21 7.67-39.9 19.61-55.6 34.72l25.5 23.8c.1-.1.2-.3.4-.4 11.4-10.6 24.9-18.3 39.8-23.4zM97.56 83.35L59.71 139l86.09 30.1c3.7-10 8.6-19.1 14.5-27.1zm318.24 0l-60.3 56.35c6.4 8.2 11.7 17.6 15.7 28.1l82.4-28.8zM268 116v317.5h93.4V218.6c0-35.3-11.5-60.4-29.8-77.3-16.2-15-38.3-23.6-63.6-25.3zm-18.6 0c-25.2 1.7-47.3 10.3-63.6 25.3-18.2 16.8-29.7 42-29.7 77.3v214.9h93.3zm163 57.3l-35.8 12.5c2.2 10.2 3.4 21.1 3.4 32.8v9.3h38.9v-9.3c0-15.8-2.3-31-6.5-45.3zM105 174.7c-3.9 13.9-6.05 28.6-6.05 43.9v9.3h38.55v-9.3c0-11.2 1.1-21.7 3.1-31.4zm-39.3 71.8v56.2h71.8v-56.2zm314.3 0v56.2h66v-56.2zM98.95 321.3v37.5h38.55v-37.5zm281.05 0v37.5h38.9v-37.5zM56.16 377.4v56.1h81.34v-56.1zm323.84 0v56.1h75.8v-56.1zm-233.3 74.7l-39.6 37.5h297.4l-33-37.5z' fill='%23C0C5CE' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.color-6 {
  color: #C0C5CE;
}

.background-6 {
  background-color: #C0C5CE;
}

.person-7 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M255 45.4c-24.5 0-47 11.8-63.9 33.4-16.9 21.5-27.1 52.6-27.1 86.5 0 36 12.1 67.5 31 89.5l13.5 15-19.6 4.6c-52.3 11.9-77.4 36.9-91.75 75.2-13.7 35.7-15.6 84.8-16.1 143.3H431c-.2-58.7-.5-109.3-13-145.5-13.4-39.4-37.9-64.3-94-75.4l-19.9-3.7 12.9-15.7c17.7-21.9 28.8-52.6 28.8-87.5 0-33.9-10.3-64.9-27.2-86.3-16.8-21.7-39.3-33.6-63.6-33.4z' fill='%23eceff4' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.skeleton-7 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M262.81 16.098c-10.335-.044-20.657.6-30.867 1.894l-2.68.246c1.754 19.05-1.177 32.7-7.144 39.69-5.967 6.99-15.964 10.454-36.102 6.328l-18.686-3.83 8.426 17.11c5.744 11.666 2.894 24.13-5.42 31.386s-22.805 10.594-44.797-1.443l-17.257-9.447 3.582 19.344c3.326 17.958-1.815 26.41-10.158 31.99-8.343 5.582-21.628 7.223-33.15 4.725l-.14.644-2.292-1.51c-8.416 30.07-10.557 65.306-4.252 106.08l15.184 94.135 70.295-13.24 3.46 18.366-15.384 2.897L179.96 488.79h25.39l-7.81-61.89 18.534-2.337 8.104 64.226h29.613v-65.325h18.69v65.324h29.61l8.105-64.228 18.534 2.338-7.81 61.89h25.486l44.352-126.808-18.133-3.416 3.46-18.365 70.185 13.22 18.236-94.22c12.634-81.883-9.59-141.71-48.71-181.966-39.135-40.268-95.95-60.884-152.966-61.136h-.02zm-14.51 20.14c45.57 29.486 39.706 97.78-19.587 70.834 34.772 67.943-24.572 97.148-69.838 55.2 3.894 37.6-40.093 48.023-69.316 11.056 7.962-1.166 15.703-3.855 22.538-8.428 10.563-7.066 17.958-19.23 19.1-34.785 20.852 6.868 39.385 3.4 51.43-7.113 10.958-9.566 16.144-24.103 14.368-38.635 16.913.726 30.568-4.03 39.34-14.306 7.624-8.933 11.127-20.532 11.965-33.822zm-61.9 167.98c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm157.543 0c32.884 0 59.54 26.656 59.54 59.54 0 32.885-26.656 59.543-59.54 59.543-32.883 0-59.543-26.657-59.543-59.542 0-32.886 26.66-59.54 59.543-59.54zm-80.675 79.74l39.937 101.6-17.03 7.05-22.905-35.477-22.905 35.477-17.62-7.048 40.523-101.603z' fill='%23eceff4' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.wall-7 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px; width: 512px;' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0,0)'%3E%3Cpath d='M494 18.02l-101 .103V119h101zm-119 .12l-238 .247V119h238zm-256 .266L18 18.51V119h101zM18 137v110h229V137zm247 0v110h229V137zM18 265v110h101V265zm119 0v110h238V265zm256 0v110h101V265zM18 393v100.98l229-.236V393zm247 0v100.727l229-.237V393z' fill='%23eceff4' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.door-7 {
  background-image: url("data:image/svg+xml,%3Csvg style='height: 512px%3B width: 512px%3B' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg class='' style='' transform='translate(0 0)'%3E%3Cpath d='M208.7 22.36l22.4 77.23c8.9-1.66 18.1-2.49 27.6-2.49 8.5 0 16.8.68 24.9 2.02l22.2-76.76zm103.1 46.26l-10 34.78c15.2 4.8 29.1 12.3 40.8 22.7l25.5-23.8c-16-14.79-35.1-26.35-56.3-33.68zm-108.9.86c-21 7.67-39.9 19.61-55.6 34.72l25.5 23.8c.1-.1.2-.3.4-.4 11.4-10.6 24.9-18.3 39.8-23.4zM97.56 83.35L59.71 139l86.09 30.1c3.7-10 8.6-19.1 14.5-27.1zm318.24 0l-60.3 56.35c6.4 8.2 11.7 17.6 15.7 28.1l82.4-28.8zM268 116v317.5h93.4V218.6c0-35.3-11.5-60.4-29.8-77.3-16.2-15-38.3-23.6-63.6-25.3zm-18.6 0c-25.2 1.7-47.3 10.3-63.6 25.3-18.2 16.8-29.7 42-29.7 77.3v214.9h93.3zm163 57.3l-35.8 12.5c2.2 10.2 3.4 21.1 3.4 32.8v9.3h38.9v-9.3c0-15.8-2.3-31-6.5-45.3zM105 174.7c-3.9 13.9-6.05 28.6-6.05 43.9v9.3h38.55v-9.3c0-11.2 1.1-21.7 3.1-31.4zm-39.3 71.8v56.2h71.8v-56.2zm314.3 0v56.2h66v-56.2zM98.95 321.3v37.5h38.55v-37.5zm281.05 0v37.5h38.9v-37.5zM56.16 377.4v56.1h81.34v-56.1zm323.84 0v56.1h75.8v-56.1zm-233.3 74.7l-39.6 37.5h297.4l-33-37.5z' fill='%23eceff4' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.color-7 {
  color: #eceff4;
}

.background-7 {
  background-color: #eceff4;
}
