/*$color0: #2e3440;
$color1: #3b4252;
$color2: #434c5e;
$color3: #4c566a;
$color4: #656E81;
$color5: #A3A9B5;
$color6: #C0C5CE;
$color7: #eceff4;*/

$color0: #181425;
$color1: #262b44;
$color2: #3a4466;
$color3: #455071;
$color4: #455071;
$color5: #5a6988;
$color6: #c0cbdc;
$color7: #ffffff;

$color8: #265c42;
$color9: #3e8948;
$color10: #63c74d;

$color11: #3e2731;
$color12: #a22633;
$color13: #e43b44;

$color: ( 0: $color0, 1: $color1, 2: $color2, 3: $color3, 4: $color4, 5: $color5, 6: $color6, 7: $color7, 8: $color8, 9: $color9, 10: $color10, 11: $color11, 12: $color12, 13: $color13 );