/* /Pages/Index.razor.rz.scp.css */
.panel[b-iaipika8kx] {
    background-color: #3b4252;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 1vmin;
    width: 100%;
    padding: 1.5vmin;
    align-self: flex-start;
}

.board[b-iaipika8kx] {
    width: fit-content;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    background-color: #3b4252;
    padding: 1.5vmin;
    border-radius: 1vmin;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    justify-content: space-between;
}

.row[b-iaipika8kx] {
    display: flex;
    justify-content: space-between;
}

.cell[b-iaipika8kx] {
    aspect-ratio: 1;
    width: 7.5vmin;
    padding: 2vmin;
    margin: 0.5vmin;
    background-color: #4c566a;
    border-radius: 0.5vmin;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: transparent;
    text-shadow: 0 0 0 #d8dee9;
}

    .cell:hover[b-iaipika8kx] {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
/* /Shared/MainLayout.razor.rz.scp.css */
main[b-id8qhgw99j] {
    display: flex;
    color: #d8dee9;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vmin;
}

@media screen and (min-width:1280px) {
    main[b-id8qhgw99j] {
        flex-direction: row;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
