/*$color0: #0e0e12;
$color1: #1A1A24;
$color2: #232331;
$color3: #1f1f2c;
$color4: #474763;
$color5: #535373;
$color6: #9C9CAF;
$color7: #E6E6EC;*/

$color0: #2e3440;
$color1: #3b4252;
$color2: #434c5e;
$color3: #4c566a;
$color4: #656E81;
$color5: #A3A9B5;
$color6: #C0C5CE;
$color7: #eceff4;

$color: ( 0: $color0, 1: $color1, 2: $color2, 3: $color3, 4: $color4, 5: $color5, 6: $color6, 7: $color7 );