html {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    font-family: 'Montserrat', sans-serif;
    background-color: $nord0;
    color: $nord4;
}

.loading {
    display: flex;
    justify-content: center;
}

.loading > span {
    font-size: 10em;
    color: #d8dee9;
    animation: loading 1s linear infinite;
}

a {
    color: $nord8;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.panel-side {
    max-height: 90vh;

    &-center {
        overflow-y: hidden;
    }
}

.holder {
    flex-grow: 1;
    font-size: 1em;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .holder {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            ". center" ". center";
    }
}

@media (min-width: 992px) {
    .holder {
        grid-template-rows: 1fr;
        grid-template-columns: 20% 1fr 20%;
        grid-template-areas: ". center .";
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
    .holder {
        grid-template-columns: 1fr 45vw 1fr;
    }
}

.panel {
    display: flex;
    flex-direction: column;

    &-center {
        width: auto;
        max-width: 90vw;
        grid-area: center;
        aspect-ratio: 1;
    }

    &-side {
        gap: 1em;

        &-center {
            flex-grow: 1;
        }
    }
}

button {
    background-color: transparent;
    border: none;
    color: $nord4;

    &:hover {
        background: $nord4;
        color: $nord0;
    }
}

.board {
    display: grid;
    gap: 0.5em;
    padding: 0.5em;
    aspect-ratio: 1;
}

@for $size from 1 through 100 {
    .board-#{$size} {
        grid-template-columns: repeat($size, 1fr);
    }
}