@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.holder.retro-mode {
    @media (min-width: 768px) {
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40vh 40vh;
        grid-template-areas:
            ". center" ". center";
    }

    @media (min-width: 992px) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ". center .";
    }

    @media (min-width: 1400px) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: ". center .";
    }

    font-family: 'VT323', monospace;
    font-size: 4vmin;
    line-height: 4vmin;
    font-stretch: expanded;

    .icon {
        display: none;
    }

    .panel {
        max-width: 40vw;
    }

    .panel-center {
        width: 100%;
        display: flex;
        max-width: 100%;
        align-items: center;
        font-size: 8vmin;
        line-height: 5vmin;
    }

    .board {
        gap: 0;
        aspect-ratio: unset;
    }

    .cell {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        transition: all 0.125s linear;

        &:hover {
            background-color: $color1;
        }

        & .retro {
            justify-content: center;
            align-items: center;
        }
    }
}