@page "/"
@inject IJSRuntime JS
<PageTitle>Blazelike</PageTitle>
@if (!Loadad)
{
    <div>
        Loading
    </div>
    return;    
}

<div class="holder @HolderClass">
    <div class="panel panel-side panel-left">
        <div class="panel-side-top">
            Minimap
        </div>
        <div class="panel-side-center">
            <div class="board board-@Height">  
                @for (var i = 0; i < Height; i++)
                {        
                    @for (var j = 0; j < Width; j++)
                    {
                        var x = j;
                        var y = i;
                        <div class="cell background-2">      
                            @if (World.Maps.ContainsKey((x, y)) && World.Maps[(x, y)].Visited)
                            {
                                var current = World.CurrentMap.Position == (x, y);
                                var color = current ? "7" : "4";
                                <span class="retro color-@color">#</span>
                                <span class="icon wall-@color"></span>
                            } else
                            {                                
                                <span class="retro"></span>
                                <span class="icon"></span>
                            }
                        </div>
                    }
                }
            </div>
        </div>
        <div class="panel-side-bottom">
            <button onclick="@(()=> ToggleRetroMode())" >
                Toggle retro mode
            </button>
        </div>
    </div>
    
    <div class="panel panel-center">
        <div class="board board-@MapHeight">  
            @for (var i = 0; i < MapHeight; i++)
            {        
                @for (var j = 0; j < MapWidth; j++)
                {
                    var x = j;
                    var y = i;                    
                    var icon = "";
                    var color = "3";
                    var retroChar = "&nbsp;";
                    var background = 0;
                    if (Board[x, y]?.Visible ?? true)
                    {
                        icon = $"{Board[x, y]?.Icon}";
                        color = $"{Board[x, y]?.Color}";
                        retroChar = Board[x, y]?.Character;
                        background = Board[x, y]?.BackgroundColor ?? 3;
                    }
                    else if ((Board[x, y]?.WasVisible ?? true))
                    {
                        if (Board[x, y]?.VisibleInShadows ?? true)
                        {
                            icon = $"{Board[x, y]?.Icon}";
                            retroChar = Board[x, y]?.Character;                           
                        }
                        color = "6";
                        background = 1;
                    }
                        
                    <div class="cell background-@background" onclick="@(()=> MoveToAsync(x, y))">  
                            <span class="icon @icon-@color"></span>
                            <span class="retro color-@color">@((MarkupString)retroChar)</span>
                    </div>
                }
            }
        </div>
    
    </div>
    

    <div class="panel panel-side panel-right">
        <div class="side-panel-top">
            Log
        </div>
        <div class="panel-side-center">
            @foreach (var line in Log)
            {
                <p>
                    @line
                </p>
            }
        </div>
        <div class="panel-side-bottom">
        </div>
    </div>
</div>
